// Hauptspalte
.container {
  width: 96%;
  max-width: 42rem;
  margin: 0 auto; // center
}

.teaser-small {
  width: 100%;
  max-width: 100%;
  background-color: rgb(238, 238, 238);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 8px;
  margin-top: 8px;
}

.teaser-big {
  width: 100%;
  max-width: 100%;
  background-color: rgb(238, 238, 238);
  padding: 16px;
}

.teaser-medium {
  width: 100%;
  max-width: 100%;
  background-color: rgb(238, 238, 238);
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 8px;
  margin-right: 8px;
}
