//Navigation
a {
  text-decoration: none;
  color: rgb(121, 121, 121);
  border-bottom: 2px solid transparent;
  font-weight: 700;
  font-size: 0.6rem;
  line-height: 0.95rem;
}

.logo {
  padding-top: 16px;
  padding-bottom: 8px;
  width: 30%;
}

.weather {
  padding-top: 38px;
  padding-bottom: 8px;
  max-width: 70px;
  //float: right;
}

a.nav__item--active,
a:hover {
  color: #1F1F1F;
  border-color: #6773DD;
}

a:visited {
  color: rgb(121, 121, 121);
}

a.nav__item--active {
  color: #1F1F1F;
  border-color: #6773DD;
}

/* column */
.container {
  width: 100%;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* compensate for header */
.container--first-content {
  margin-top: 4rem;
}

.header {
  position: fixed;
  z-index: 99;
  top: 0;
  max-width: 42rem;
  background-color: rgb(255, 255, 255);
}

.header-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--nav {
  height: 100%;
  display: flex;
  align-items: center;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgb(167, 167, 167);
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgb(167, 167, 167);
}

.nav {
  position: relative;
  width: 100%;
}

/* the gradient right */
.nav:after {
  content: "";
  width: 1.25em;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(230, 230, 230, 0),
    rgb(255, 255, 255)
  );
}
/* scroll-area */
.nav__inner {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  width: 100%;
  scrollbar-width: none; /* no-scrollbar: firefox */
}
.nav__inner::-webkit-scrollbar {
  display: none; /* no-scrollbar: Safari and Chrome */
}

.nav__inner:after {
  display: block;
  content: "";
  width: 1.25em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1.25em;
}

.nav__item {
  white-space: nowrap;
}

/* space between the items */
.nav__item + .nav__item {
  margin-left: 3em;
}